<h1>Listing Wikis</h1>

<table>

    <thead><th>Title</th>
    <th>Author</th>
    <th>Last Modified</th>
    </thead>
    <tbody>
    {{#each wikientry in controller}}
        <tr>
            <td>
                {{#link-to "wiki" wikientry.id }}
                    {{wikientry.title}}
                {{/link-to}}
            </td>
            <td>{{wikientry.author}}</td>
            <td>{{dateFormat wikientry.modified}}</td>
        </tr>
        
    {{else}}
        Nada holmes.
    {{/each}}

    </tbody>

</table>